<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node.js by Example</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body class="nodejs">
    <div id="intro">
      <h2><a href="./">Node.js by Example</a></h2>
      <p>
        <a href="https://nodejs.org/en">Node.js</a> is a free,
        open-source, cross-platform JavaScript runtime environment
        that lets developers create servers, web apps, command line
        tools and scripts.
        Please read the
        <a href="https://nodejs.org/docs/latest/api/">official documentation</a>
        to learn more.
      </p>

      <p>
        <em>Node.js by Example</em> is a hands-on introduction
        to Node & Javascript using annotated example programs. Check out
        the <a href="hello-world">first example</a> or
        browse the full list below.
      </p>

      <p>
        This project takes examples, text, and code from <a href="https://gobyexample.com/">Go by Example</a>, by Mark McGranaghan and Eli Bendersky.
        It is also a work in progress and aims to have full pairty plus more with <em>Go by Example</em>.
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.ID}}">{{.Name}}</a></li>
      {{end}}
      </ul>
{{ template "footer" }}
    </div>
  </body>
</html>
